@model Company
@using MyJobLeads.DomainModel.Entities; 

<h2>Company: @Model.Name</h2>
@Html.ActionLink("Edit", MVC.Company.Edit(Model.Id)) &nbsp; &nbsp; @Html.ActionLink("Back To Job Search", MVC.JobSearch.View(Model.JobSearch.Id))

<br /><br />

Name: @Model.Name <br />
Phone: @Model.Phone <br />
City: @Model.City <br />
State: @Model.State <br />
Zip: @Model.Zip <br />
Metro Area: @Model.MetroArea <br />
Industry: @Model.Industry <br />
Notes: @Model.Notes <br />

<br />

<h2>Contacts</h2>
@Model.Contacts.Count Contact(s) have been entered for this company<br />
@Html.ActionLink("Add Contact", MVC.Contact.Add(Model.Id))

<ul>
    @foreach (Contact contact in Model.Contacts)
    {
        <li>@Html.ActionLink(contact.Name, MVC.Contact.Details(contact.Id))</li>   
    }
</ul>

<h2>Tasks</h2>
@Model.Tasks.Count Task(s) have been created for this company<br />
@Html.ActionLink("Add Task", MVC.Task.AddCompanyTask(Model.Id))

<ul>
    @foreach (Task task in Model.Tasks)
    {
        <li>@Html.ActionLink(task.Name, MVC.Task.View(task.Id))</li>
    }
</ul>

