@model Contact
@using MyJobLeads.DomainModel.Entities;

<h2>Contact: @Model.Name</h2>
@Html.ActionLink("Edit Contact", MVC.Contact.Edit(Model.Id)) &nbsp; &nbsp; 
@Html.ActionLink("Back To Company", MVC.Company.Details(Model.Company.Id))

<p>
    Name: @Model.Name <br />
    Direct Phone: @Model.DirectPhone <br />
    Extension: @Model.Extension <br />
    Mobile Phone: @Model.MobilePhone <br />
    Email Address: @Model.Email <br />
    Assistant: @Model.Assistant <br />
    Referred By: @Model.ReferredBy <br />
    Notes: @Model.Notes
</p>

<h2>Tasks</h2>
@Model.Tasks.Count Tasks exist for this contact<br />
@Html.ActionLink("Add Task", MVC.Task.Add((int)Model.CompanyId, Model.Id))

<ul>
    @foreach (Task task in Model.Tasks)
    {
        <li>
            @Html.ActionLink(task.Name, MVC.Task.Details(task.Id)) - 

            @if (task.Completed) { <text>Completed </text> }
            else { <b>Not Completed</b> }

            @if (task.TaskDate != null && !task.Completed) { <text> - Due: @task.TaskDate.Value.ToString()</text> }
        </li>
    }
</ul>

