@model Contact
@using MyJobLeads.DomainModel.Entities;

@{
    string taskString = Model.Tasks.Count == 1 ? "task" : "tasks";
}
<br />

<h1>@Model.Name</h1>

<div class="ScreenHint">This screen displays all information and tasks for this contact</div>

<p>
    Company: @Html.ActionLink(Model.Company.Name, MVC.Company.Details(Model.Company.Id)) <br />
    @if (!string.IsNullOrWhiteSpace(Model.DirectPhone)) 
    {
        <text>Direct Phone: @Model.DirectPhone 
        @if (!string.IsNullOrWhiteSpace(Model.Extension)) { <text>Ext: @Model.Extension</text> } <br /></text>
    }
    @if (!string.IsNullOrWhiteSpace(Model.MobilePhone)) { <text>Mobile Phone: @Model.MobilePhone <br /></text> }
    @if (!string.IsNullOrWhiteSpace(Model.Email)) { <text>Email Address: @Model.Email <br /></text> }
    @if (!string.IsNullOrWhiteSpace(Model.Assistant)) { <text>Assistant: @Model.Assistant <br /></text> }
    @if (!string.IsNullOrWhiteSpace(Model.ReferredBy)) { <text>Referred By: @Model.ReferredBy <br /></text> }
    @if (!string.IsNullOrWhiteSpace(Model.Notes)) { <text>Notes: @Model.Notes</text> }
</p>

@Html.ActionLink("Edit Contact Details", MVC.Contact.Edit(Model.Id))

<h2>Tasks</h2>
This contact has @Model.Tasks.Count @taskString entered 
(@Html.ActionLink("Add", MVC.Task.Add((int)Model.CompanyId, Model.Id)))

<ul>
    @foreach (Task task in Model.Tasks)
    {
        <li>
            @Html.ActionLink(task.Name, MVC.Task.Details(task.Id)) - 

            @if (task.Completed) { <text>Completed </text> }
            else { <b>Not Completed</b> }

            @if (task.TaskDate != null && !task.Completed) { <text> - Due: @task.TaskDate.Value.ToString()</text> }
        </li>
    }
</ul>

