@using Telerik.Web.Mvc.UI;

<!-- loadstorm-33093 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
    <meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
    <title>@ViewBag.Title</title>
    @(Html.Telerik().StyleSheetRegistrar()
                    .DefaultGroup(group => group
                        .Add("~/Content/Site.css")
                        .Add("telerik.common.css")
                        .Add("Telerik.vista.css")
                        .Add("~/Scripts/plugins/DataTables/css/demo_table.css")
                        .Combined(true)
                        .Compress(true))
    )

    @* Google analytics *@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26207392-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>

<div id="myLeadsheader"> 
		<div id="headerWrap"> 
        	<div class="leftColumn"> 
            	<h1 id="myLogo">@Html.ActionLink("MyLeads", MVC.Home.Index())</h1> 
            </div> 

            <div class="rightColumn"> 
            	<div id="heaerNavWrapper"> 
                    @if (User.Identity.IsAuthenticated)
                    {
                	    <div id="headerSearch"> 
                            @using (Html.BeginForm(MVC.JobSearch.Search()))
                            {
                                <input class="headerInput" type="text" name="query" id="query" value="@TempData["LastSearchQuery"]" /> 
                                <input type="submit" value="Search" class="searchSubmit" />
                            }
                        </div> 
                    }
                       
                    <div id="headerNav"> 
                        <ul> 
                        <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Off", MVC.Account.LogOff())</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log On", MVC.Account.LogOn())</li>
                        }
                        </ul> 
                    </div> 
                </div> 
            </div>  	
        </div> 
</div> 
<div id="myLeadsBodyWrap"> 
 
		<div class="leftColumn"> 
            @if (IsSectionDefined("SideBar"))
            {
                @RenderSection("SideBar");
            }
            else
            {
                Html.RenderAction(MVC.Home.SidebarDisplay(MyJobLeads.Controllers.ActiveSidebarLink.None));
            }
        </div> 
        <div class="rightColumn"> 
            	<div id="contentWrapper"> 
                    @RenderBody()                
                <div class="clear"></div> 
                </div> 
                <div class="footer">
                    <div class="grid2 floatLeft">MyLeads © 2011</div>
                    <div class="grid2 floatRight">
                        <ul class="footerLinks">
                            <li>@Html.ActionLink("Security", MVC.Policies.Security(), new { @title = "Security Policy" })</li>
                            <li>@Html.ActionLink("Privacy", MVC.Policies.Privacy(), new { @title = "Privacy Policy" })</li>
                            <li><a href="http://interviewtools.net/">InterviewTools</a></li>
                        </ul>
                    </div>
                </div> 
        </div> 
</div> 

@( Html.Telerik().ScriptRegistrar())

</body>
</html>
