@model MyJobLeads.ViewModels.Tasks.TaskDisplayViewModel

@{
    ViewBag.Title = "Task: " + Model.Name;
}

<div class="display-form">
    <h2>View Your Task</h2>

    <br />
    @Html.ActionLink("Edit Details", MVC.Task.Edit(Model.Id), new { @class = "details-link" })

    <br />

    <div class="form-row">
        <span class="form-label">Subject:</span>
        <span class="form-field">@Model.Name</span>
    </div>

    <div class="form-row">
        <span class="form-label">Category:</span>
        <span class="form-field">@Model.Category</span>
    </div>

    <div class="form-row">
        <span class="form-label">Associated With:</span>
        <span class="form-field">@Model.AssociatedWith</span>
    </div>

    <div class="form-row">
        <span class="form-label">Due Date:</span>
        <span class="form-field">
            @if (Model.TaskDueDate == null)
            {
                @:No Due Date Set
            }
            else
            {
                @Model.TaskDueDate.Value.ToShortDateString();
            }
        </span>
    </div>

    <div class="form-row">
        <span class="form-label">Completed?</span>
        <span class="form-field">@(Model.Completed? "Yes" : "No")</span>
    </div>

    <div class="form-row">
        <span class="form-label">Notes:</span>
        <span class="form-field">@Html.Raw(Html.Encode(Model.Notes).Replace(Environment.NewLine, "<br />"))</span>
    </div>

    <br />

@*    <div class="form-row">
        <span class="form-label">&nbsp;</span>
        <span class="form-field">@Html.ActionLink("Edit Details", MVC.Task.Edit(Model.Id), new { @class = "details-link" })</span>
    </div>*@
</div>

<hr />

@if (Model.Contact == null)
{
    Html.RenderPartial(MVC.Company.Views._CompanySidebarDisplay, Model.Company);
}
else
{
    Html.RenderPartial(MVC.Contact.Views._ContactSidebarDisplay, Model.Contact);
}