@model MyJobLeads.DomainModel.Entities.Task

@{
    ViewBag.Title = "Task: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <tr>
        <td valign="top" width="50%">
            @if (Model.Company != null) { Html.RenderPartial(MVC.Shared.Views._CompanyDisplay, Model.Company); }
            else { Html.RenderPartial(MVC.Shared.Views._ContactDisplay, Model.Contact); }
        </td>

        <td valign="top">
            <br />

            <h1>@Model.Name</h1>                                                                                          

            <div class="ScreenHint">This screen displays all information entered for this task.</div>

            <p>
                @if (Model.Contact != null) 
                { 
                    <text>Associated Contact: @Html.ActionLink(Model.Contact.Name, MVC.Contact.Details((int)Model.ContactId)) <br /> </text>
                }
                Task Date: @if (Model.TaskDate.HasValue) { @Model.TaskDate.Value.ToString() } else { <text>&lt;No Date Set&gt;</text> } <br />
                Task Completed: @Model.Completed 
            </p>

            @Html.ActionLink("Edit Task Details", MVC.Task.Edit(Model.Id)) &nbsp; 
        </td>
    </tr>

</table>