@model MyJobLeads.DomainModel.Entities.Task

@{
    ViewBag.Title = "Task: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Setup the sidebar
    if (Model.ContactId != null) 
    {
        ViewBag.Sidebar = new HtmlString(Html.Partial(MVC.Contact.Views._ContactSidebarDisplay, Model.Contact).ToString() +
                                            Html.Partial(MVC.Company.Views._CompanySidebarDisplay, Model.Company).ToString());
    }
    else { ViewBag.Sidebar = Html.Partial(MVC.Company.Views._CompanySidebarDisplay, Model.Company); }
}

<h2>@Model.Name</h2> <br />                                                                                      

<p>
    @if (Model.ContactId != null) 
    { 
        @:This task is associated with @Html.ActionLink(Model.Contact.Name, MVC.Contact.Details((int)Model.ContactId))
    }
    else
    {
        @:This task is associated with @Html.ActionLink(Model.Company.Name, MVC.Company.Details((int)Model.CompanyId))
    }

    <br /><br />
    Task Due Date: @if (Model.TaskDate.HasValue) { @Model.TaskDate.Value.ToString() } else { <text>&lt;No Date Set&gt;</text> } <br />

    @if (Model.CompletionDate == null) 
    { 
        <b>Not Completed</b>
    }
    else 
    { 
        @:Completed on: @Model.CompletionDate.Value.ToString() 
    }
                                                              
</p>

@Html.ActionLink("Edit Task Details", MVC.Task.Edit(Model.Id)) &nbsp; 
