@model EditTaskViewModel
@using MyJobLeads.Models.Tasks;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0) { <h2>Create New Task</h2> }
else { <h2>Editing Task: @Model.Name</h2> }

@using (Html.BeginForm(MVC.Task.Edit()))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.AssociatedCompanyId)

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td align="right">Contact:</td>
            <td>
                @Html.DropDownListFor(x => x.AssociatedContactId, Model.CompanyContactList)
            </td>
        </tr>

        <tr>
            <td align="right">Task Due Date:</td>
            <td>
                @Html.Telerik().DateTimePickerFor(x => x.TaskDate)
            </td>
        </tr>

        @* Only show the completed checkbox if we are editing an existing task *@
        @if (Model.Id != 0)
        {
            <tr>
                <td align="right">Task Completed?</td>
                <td>@Html.CheckBoxFor(x => x.Completed)</td>
            </tr>
        }
        
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" /> &nbsp; &nbsp; 

                @if (Model.Id != 0) { @Html.ActionLink("Back To Task", MVC.Task.Details(Model.Id)); }
                else if (Model.AssociatedCompanyId != 0) { @Html.ActionLink("Back To Company", MVC.Company.Details(Model.AssociatedCompanyId)) }                
            </td>
        </tr>
    </table>
        
}

