@model EditTaskViewModel
@using MyJobLeads.ViewModels.Tasks;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    ViewBag.Title = "Add A Task";
    <h1>Add A New Task</h1>
    <div class="ScreenHint">This screen allows you to create a new task.</div>
}
else
{
    ViewBag.Title = "Editing " + @Model.Name;
    <h1>Editing @Model.Name</h1>
    <div class="ScreenHint">This screen allows you to edit the @Model.Name task.</div>
}

<br />

@using (Html.BeginForm(MVC.Task.Edit()))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.AssociatedCompanyId)

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td align="right">Contact:</td>
            <td>
                @Html.DropDownListFor(x => x.AssociatedContactId, Model.CompanyContactList)
            </td>
        </tr>

        <tr>
            <td align="right">Task Due Date:</td>
            <td>
                @Html.Telerik().DateTimePickerFor(x => x.TaskDate)
            </td>
        </tr>

        @* Only show the completed checkbox if we are editing an existing task *@
        @if (Model.Id != 0)
        {
            <tr>
                <td align="right">Task Completed?</td>
                <td>@Html.CheckBoxFor(x => x.Completed)</td>
            </tr>
        }
        
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" /> &nbsp; &nbsp; 

                @if (Model.Id != 0) { @Html.ActionLink("Back To Task", MVC.Task.Details(Model.Id)); }
                else if (Model.AssociatedCompanyId != 0) { @Html.ActionLink("Back To Company", MVC.Company.Details(Model.AssociatedCompanyId)) }                
            </td>
        </tr>
    </table>
        
}

