@model MyJobLeads.DomainModel.Entities.Contact

<h2>@Model.Name</h2>

<span class="data-label">Direct Phone:</span>
<span class="data-value">@Model.DirectPhone</span>

@if (!string.IsNullOrWhiteSpace(Model.Extension))
{
    <span class="data-label">Ext:</span>
    <span class="data-value">@Model.Extension</span>
}

<br />

<span class="data-label">Mobile Phone:</span> <span class="data-value">@Model.MobilePhone</span> <br />
<span class="data-label">Email:</span> <a href="mailto:@Model.Email">@Model.Email</a> <br />
<span class="data-label">Assistant:</span> <span class="data-value">@Model.Assistant</span> <br />
<span class="data-label">Referred By:</span> <span class="data-value">@Model.ReferredBy</span> <br />

<span class="data-label">Notes:</span> 
<span class="data-value">@Html.Raw(Html.Encode(Model.Notes).Replace(Environment.NewLine, "<br />"))</span> <br />

@Html.ActionLink("Show Details", MVC.Contact.Details(Model.Id), new { @class = "details-link" })