@model EditContactViewModel
@using MyJobLeads.ViewModels.Contacts;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    // Make sure the contact is at least initialized to an empty contact
    if (Model.Contact == null) { Model.Contact = new MyJobLeads.DomainModel.Entities.Contact(); }
    
    // Setup the sidebar
    ViewBag.Sidebar = Html.Partial(MVC.Company.Views._CompanySidebarDisplay, Model.Company);
}

@if (Model.Contact.Id == 0)
{
    ViewBag.Title = "Add A Contact";
    <h2>Add A Contact</h2>
    <div class="ScreenHint">This screen allows you to add a contact for @Model.Company.Name.</div>
}
else
{
    ViewBag.Title = "Editing " + @Model.Contact.Name;
    <h2>Editing @Model.Contact.Name</h2>
    <div class="ScreenHint">This screen allows you to edit the details for @Model.Contact.Name</div>
}

<br />

@{ int companyId = Model.Company.Id; }
@using (Html.BeginForm(MVC.Contact.Edit(Model.Contact.Id)))
{
    @Html.Hidden("companyId", companyId)
    @Html.HiddenFor(x => x.Contact.Id)

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>@Html.EditorFor(x => x.Contact.Name)</td>
        </tr>

        <tr>
            <td align="right">Direct Phone:</td>
            <td>@Html.EditorFor(x => x.Contact.DirectPhone)</td>
        </tr>

        <tr>
            <td align="right">Extension:</td>
            <td>@Html.EditorFor(x => x.Contact.Extension)</td>
        </tr>

        <tr>
            <td align="right">Mobile Phone:</td>
            <td>@Html.EditorFor(x => x.Contact.MobilePhone)</td>
        </tr>

        <tr>
            <td align="right">Email:</td>
            <td>@Html.EditorFor(x => x.Contact.Email)</td>
        </tr>

        <tr>
            <td align="right">Assistant:</td>
            <td>@Html.EditorFor(x => x.Contact.Assistant)</td>
        </tr>

        <tr>
            <td align="right">Referred By:</td>
            <td>@Html.EditorFor(x => x.Contact.ReferredBy)</td>
        </tr>

        <tr>
            <td align="right">Notes:</td>
            <td>@Html.TextAreaFor(x => x.Contact.Notes, new { rows = 3, cols = 50 })</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" /> &nbsp; &nbsp;
                @if (Model.Contact.Id == 0) { Html.ActionLink("Back", MVC.Company.Details(companyId)); }
                else { Html.ActionLink("Back", MVC.Contact.Details(Model.Contact.Id)); }
            </td>
        </tr>
    </table>
}

