@model MyJobLeads.ViewModels.Contacts.EditContactViewModel
           
<div class="grid1 floatLeft"> 
    <div class="lineSeperater"> 
        <div class="pageInfoBox"> 
            @using (Html.BeginForm(MVC.Contact.Edit()))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Company.Id)
                
                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                        <h3 class="floatLeft">Edit your Contact</h3> 
                </div>
                
                using (Html.OuterRow())
                {
                    using (Html.ValidationArea())
                    {
                        @Html.ValidationSummary()
                    }
                }
                 
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Name:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Name, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Title:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Title, new { @class = "info" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Direct Phone:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.DirectPhone, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Extension:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Extension, new { @class = "smallerInput" })</div>
                    </div> 
                </div> 
                                
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Mobile Phone:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.MobilePhone, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Email:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Email, new { @class = "info" })</div>
                    </div>                   
                </div> 
                                
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Assistant:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Assistant, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Referred By:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.ReferredBy, new { @class = "info" })</div>
                    </div>                   
                </div> 
 
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Notes:</p>
                        <div class="infoSpan">@Html.TextAreaFor(x => x.Notes, new { @class = "textAreaInfo" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_20 floatLeft"> 
                    <div class="submitBTN ">
                        <input type="submit" value="Save" /> &nbsp;
                        @if (Model.Id != 0)
                        {
                            @Html.ActionLink("Cancel", MVC.Contact.Details(Model.Id))
                        }
                        else
                        {
                            @Html.ActionLink("Cancel", MVC.Company.Details(Model.Company.Id))
                        }
                    </div>                   
                </div> 
            }
            <div class="clear"></div> 
        </div> 
    </div> 
</div> 