@model MyJobLeads.ViewModels.Users.UserSidebarViewModel
@using MyJobLeads.Controllers;

<h2 id="accountName">@Model.DisplayName</h2>
<div class="accountEdit"><a href="#">Edit Your Account</a></div>

<div id="leftHandNav">
    <ul>
        <li>@Html.ActionLink("Your Tasks", MVC.Task.Index(), new { @class = Model.ActiveLink == ActiveSidebarLink.Tasks? "active" : "" })</li>
        <li>@Html.ActionLink("Companies", MVC.Company.List(), new { @class = Model.ActiveLink == ActiveSidebarLink.Companies? "active" : "" })</li>
        <li>@Html.ActionLink("Positions", MVC.Position.List(), new { @class = Model.ActiveLink == ActiveSidebarLink.Positions? "active" : "" })</li>
        <li>@Html.ActionLink("About", MVC.Home.About(), new { @class = Model.ActiveLink == ActiveSidebarLink.About? "active" : "" })</li>
    </ul>
</div>