@model MyJobLeads.ViewModels.Users.UserSidebarViewModel
@using MyJobLeads.Controllers;

<h2 id="accountName">@Model.DisplayName</h2>
<div class="accountEdit">@Html.ActionLink("Edit Your Account", MVC.Account.Edit())</div>

<div id="leftHandNav">
    <ul>
        <li>@Html.ActionLink("Your Tasks", MVC.Task.Index(), new { @class = Model.ActiveLink == ActiveSidebarLink.Tasks? "active" : "" })</li>
        <li>@Html.ActionLink("Companies", MVC.Company.List(), new { @class = Model.ActiveLink == ActiveSidebarLink.Companies? "active" : "" })</li>
        <li>@Html.ActionLink("Positions", MVC.Position.List(), new { @class = Model.ActiveLink == ActiveSidebarLink.Positions? "active" : "" })</li>

        @if (Model.HasCurrentJobSearchId)
        {
            <li>@Html.ActionLink("Download My Data", MVC.JobSearch.Export())</li>
        }
        
        <li>@Html.ActionLink("About", MVC.Home.About(), new { @class = Model.ActiveLink == ActiveSidebarLink.About? "active" : "" })</li>

        <li>&nbsp;</li>

        @if (Model.UserType == MyJobLeads.ViewModels.Users.UserSidebarViewModel.AccountType.OrganizationAdmin)
        {
            <li>@Html.ActionLink("University Dashboard", MVC.Organization.Dashboard.Index(), new { @class = Model.ActiveLink == ActiveSidebarLink.OrgAdmin ? "active" : "" })</li>
        }
    </ul>
</div>