@model MyJobLeads.ViewModels.JobSearches.JobSearchDetailsViewModel
@using MyJobLeads.DomainModel.Entities;

@{
    ViewBag.Title = Model.JobSearch.Name + " - Job Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sidebar = Html.Partial(MVC.Task.Views._OpenTaskSummary, Model.OpenTasks);
}

<h1>@Model.JobSearch.Name's Details</h1>
<br />
<p>
    @Html.ActionLink("Edit This Job Search", MVC.JobSearch.Edit(Model.JobSearch.Id)) &nbsp; 
    @Html.ActionLink("View All Job Searches", MVC.JobSearch.Index())
</p>

<p>
    @if (!string.IsNullOrWhiteSpace(Model.JobSearch.Description)) { <text><b>Description:</b> @Model.JobSearch.Description</text> }
</p>

<p>
    @using (Html.BeginForm(MVC.JobSearch.Search(), FormMethod.Get))
    {
        @Html.Hidden("id", Model.JobSearchId)
        @:Search: @Html.TextBox("query") <input type="submit" value="Search" />
    }
</p>

 <h2>Companies</h2>
@Html.ActionLink("Add A New Company", MVC.Company.Add(@Model.JobSearch.Id))
                
<ul>
    @foreach (Company company in @Model.JobSearch.Companies.OrderBy(x => x.Name).ToList())
    {
        <li>@Html.ActionLink(company.Name, MVC.Company.Details(company.Id))</li>
    }
</ul>
