@model MyJobLeads.ViewModels.JobSearches.JobSearchDetailsViewModel
@using MyJobLeads.DomainModel.Entities;
@using MyJobLeads.Infrastructure.HtmlHelpers;
@using MyJobLeads.ViewModels.Companies;

@{
    ViewBag.Title = Model.JobSearch.Name + " - Job Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sidebar = new HtmlString(Html.Partial(MVC.Company.Views._jobsearchCompanySummary, new JobSearchCompanyListViewModel(Model)).ToString()
                        + Html.Partial(MVC.Task.Views._OpenTaskSummary, Model.OpenTasks).ToString());
}

<h1>@Model.JobSearch.Name</h1>
<br />

<p>
    @Html.ActionLink("Edit This Job Search", MVC.JobSearch.Edit(Model.JobSearch.Id)) &nbsp; 
    @Html.ActionLink("View All Job Searches", MVC.JobSearch.Index())
</p>

<p>
    @if (!string.IsNullOrWhiteSpace(Model.JobSearch.Description)) { <text><b>Description:</b> @Model.JobSearch.Description</text> }
</p>

<p>
    @using (Html.BeginForm(MVC.JobSearch.Search(), FormMethod.Get))
    {
        @Html.Hidden("id", Model.JobSearch.Id)
        @:Search: @Html.TextBox("query") <input type="submit" value="Search" />
    }
</p>

<h2>Job Search Progress</h2>
<hr />

<p>
    @{Html.RenderPartial(MVC.JobSearch.Views._JsMilestoneDisplay, Model.JobSearch);}   
</p>