@model MyJobLeads.DomainModel.Entities.JobSearch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isNewJobSearch = Model.Id == 0;
}

@if (isNewJobSearch)
{
    ViewBag.Title = "Start a New Job Search";
    
    <h2>Start a New Job Search</h2>
    <p>
        Your first step is to setup a job search. Interview Tools allows you to organize multiple job searches. Some uses of this are:
        <ul>
            <li>Organize your job search by year, such as "2011 Full Time Position", "2012 Internship Hunt", or "May 2012 Need Part-Time Job"</li>
            <li>Organize job search by function, such as "Sales and Marketing Opportunities" or "Engineering Job Search"</li>
        </ul>
    </p>
}
else
{
    ViewBag.Title = "Editing " + @Model.Name;
    
    <h2>Editing the '@Model.Name' Job Search</h2>
    <div class="ScreenHint">This screen allows you to edit the details of the @Model.Name job search.</div><br />
}

@using (Html.BeginForm(MVC.JobSearch.Edit(), FormMethod.Post, new { @class = "editform" }))
{
    <fieldset>
        @Html.HiddenFor(x => x.Id)
    
        <div class="required">
            <label>Job Search Title</label>
            @Html.TextBoxFor(x => x.Name)
        </div>

        <div class="required">
            <label>Description
            </label>
            @Html.TextAreaFor(x => x.Description, new { rows = 4 })
        </div>
        
        <div class="submit">
            <input type="submit" value="Submit" class="inputSubmit" /> &nbsp; &nbsp;
            @if (isNewJobSearch)
            {
                @Html.ActionLink("Cancel", MVC.JobSearch.Index());
            }
            else
            {
                @Html.ActionLink("Cancel", MVC.JobSearch.Details(Model.Id));
            }

        </div>
    </fieldset>
}