@model MyJobLeads.DomainModel.Entities.JobSearch

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isNewJobSearch = Model.Id == 0;
}

@if (isNewJobSearch)
{
    <h2>Start a New Job Search</h2>
    <text>
        Your first step towards a successful job search is to define what type of job search you are conducting. <br />
    </text>
    <br /><br />
}
else
{
    <h2>Editing the '@Model.Name' job search</h2>
}

@using (Html.BeginForm(MVC.JobSearch.Edit(Model.Id)))
{
    @Html.HiddenFor(x => x.Id);
    
    <table>
        <tr>
            <td align="right">Job Search Name:</td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>

        <tr>
            <td align="right" valign="top">Description:</td>
            <td>@Html.TextAreaFor(x => x.Description, new { rows = 2, cols = "50" })</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" /> &nbsp; &nbsp;
                
                @if (isNewJobSearch) { @Html.ActionLink("Back", MVC.JobSearch.Index()); }
                else { @Html.ActionLink("Back", MVC.JobSearch.View(Model.Id)); }
            </td>
        </tr>
    </table>
}

