@model MyJobLeads.DomainModel.Entities.JobSearch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isNewJobSearch = Model.Id == 0;
}

<div class="grid1 floatLeft"> 
    <div class="lineSeperater"> 
        <div class="pageInfoBox"> 
            @using (Html.BeginForm(MVC.JobSearch.Edit())) 
            {
                @Html.HiddenFor(x => x.Id)
                
                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                    <h3 class="floatLeft">@(isNewJobSearch ? "Start Job Search" : "Edit Job Search")</h3> 
                </div> 
                
               @* <div class="grid3 marginBottom_10 marginAuto floatleft">
                    <div class="floatleft">
                        <p>
                            Your first step is to setup a job search. Interview Tools allows you to organize multiple job searches. Some uses of this are:
                            <ul>
                                <li>Organize your job search by year, such as "2011 Full Time Position", "2012 Internship Hunt", or "May 2012 Need Part-Time Job"</li>
                                <li>Organize job search by function, such as "Sales and Marketing Opportunities" or "Engineering Job Search"</li>
                            </ul>
                        </p>    
                    </div>
                </div>*@
                
                <div class="grid3 marginBottom_10 marginAuto floatleft">
                    <div class="floatLeft infoSpan">
                        @Html.ValidationSummary()
                    </div>
                </div>
                
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Title:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Name, new { @class = "info" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Description:</p>
                        <div class="infoSpan">@Html.TextAreaFor(x => x.Description, new { @class = "textAreaInfo" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_20 floatLeft"> 
                    <div class="submitBTN "><input type="submit" value="Save" /></div>                    
                </div> 
            }

            <div class="clear"></div> 
        </div> 
    </div> 
</div> 
