@model JobSearch
@using MyJobLeads.DomainModel.Entities;

@{
    ViewBag.Title = "Job Search: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<Task> openTasks = ViewBag.OpenTasks ?? new List<Task>();
}

<h2>Job Search: @Model.Name</h2>
@Html.ActionLink("Edit This Job Search", MVC.JobSearch.Edit(Model.Id)) &nbsp; 
@Html.ActionLink("View All Job Searches", MVC.JobSearch.Index())

<p>
    Description: @Model.Description
</p>

@using (Html.BeginForm(MVC.JobSearch.Search()))
{
    <input type="text" id="searchBox" /> <input type="submit" value="Search" /> <text>Not Implemented Yet!</text>
}

<table width="100%">
    <tr>
        <td valign="top" width="50%">
            <h2>Companies</h2>
            @Model.Companies.Count Companies Exist <br />
            @Html.ActionLink("Add Company", MVC.Company.Add(@Model.Id))
                
            <ul>
                @foreach (Company company in @Model.Companies)
                {
                    <li>@Html.ActionLink(company.Name, MVC.Company.View(company.Id))</li>
                }
            </ul>
        </td>

        <td align="right" valign="top" width="50%">
            <h2>Open Tasks</h2>
            @openTasks.Count Open Tasks

            <ul dir="rtl">
                @foreach (Task task in openTasks)
                {
                    <li>
                        @( task.TaskDate.HasValue ? "Due " + task.TaskDate.ToString() : string.Empty )
                        @Html.ActionLink(task.Name, MVC.Task.View(task.Id))
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>
