@model MyJobLeads.Areas.Admin.Models.CopyAccountDataViewModel

@{
    ViewBag.Title = "Copy Account";
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox"> 
        @using (Html.BeginForm()) 
        {               
            <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                <h3 class="floatLeft">Copy User Account</h3> 
            </div> 
                
            <div class="grid3 marginBottom_10 marginAuto floatleft">
                <div class="floatLeft infoSpan">
                    @Html.ValidationSummary()
                </div>
            </div>
                
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Account To Clone:</p>
                    <div class="infoSpan">@Html.DropDownListFor(x => x.SelectedAccountId, Model.AccountList)</div>
                </div> 
            </div> 

            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">New Email:</p>
                    <div class="infoSpan">@Html.TextBoxFor(x => x.NewUsername, new { @class = "info" })</div>
                </div> 
            </div> 
            
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Password:</p>
                    <div class="infoSpan">@Html.PasswordFor(x => x.Password, new { @class = "info" })</div>
                </div> 
            </div> 
            
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Create As Organization Admin?</p>
                    <div class="infoSpan">@Html.CheckBoxFor(x => x.CreateAsOrgAdmin)</div>
                </div> 
            </div> 

            <div class="grid3 marginBottom_20 floatLeft"> 
                <div class="submitBTN "><input type="submit" value="Save" /></div>                    
            </div> 
        }

        <div class="clear"></div> 
    </div> 
</div> 
