@model MyJobLeads.ViewModels.Companies.CompanyDisplayViewModel

<h2>@Model.Name</h2>

<div class="left">
    <span class="data-label">Phone:</span>
    <span class="data-value">@Model.Phone</span>
</div>

<div class="right">
    <span class="data-label">Location:</span>
    <span class="data-value">@Model.Location</span>
</div>

<br />

<span class="data-label">Status:</span>
<span class="data-value">@Model.LeadStatus</span>

<br /><br />

@Html.Raw(Html.Encode(Model.Notes).Replace(Environment.NewLine, "<br />"))<br />
@Html.ActionLink("Show Details", MVC.Company.Details(Model.Id), new { @class = "details-link" })
