@model Company
@using MyJobLeads.DomainModel.Entities;           

@{
    ViewBag.Title = "Company: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
  

    // Form company location string
    bool citySpecified = !string.IsNullOrWhiteSpace(Model.City);
    bool stateSpecified = !string.IsNullOrWhiteSpace(Model.State);
    bool zipSpecified = !string.IsNullOrWhiteSpace(Model.Zip);

    string location = string.Empty;
    if (citySpecified && stateSpecified) { location = string.Concat(Model.City, ", ", Model.State, " "); }
    else if (citySpecified) { location = Model.City + " "; }
    else if (stateSpecified) { location = Model.State + " "; }

    if (zipSpecified) { location += Model.Zip; }
}

<h2>@Model.Name's Details</h2>
@Html.ActionLink("Back To Company List", MVC.Company.List())<br /><br />

Phone: @Model.Phone <br />
Status: @Model.LeadStatus <br />
Location: @location <br />
Notes: @Html.Raw(Html.Encode(Model.Notes).Replace(Environment.NewLine, "<br />"))<br />

<br />
@Html.ActionLink("Edit Company Details", MVC.Company.Edit(Model.Id))
