@model MyJobLeads.ViewModels.Companies.CompanyDisplayViewModel

@{
    ViewBag.Title = "Company: " + Model.Name;
}

<div class="display-form">
    <h2>@Model.Name</h2>
    @Html.ActionLink("Edit Details", MVC.Company.Edit(Model.Id), new { @class = "details-link" })

    <div class="form-row">
        <span class="form-label">Phone:</span>
        <span class="form-field">@Model.Phone</span>
    </div>
    
    <div class="form-row">
        <span class="form-label">Location:</span>
        <span class="form-field">@Model.Location</span>
    </div>

    <div class="form-row">
        <span class="form-label">Status:</span>
        <span class="form-field">@Model.LeadStatus</span>
    </div>

    <div class="form-row">
        <span class="form-label">Notes:</span>
        <span class="form-field">@Html.Raw(Html.Encode(Model.Notes).Replace(Environment.NewLine, "<br />"))</span>
    </div>
</div>

<hr />

<div class="left-subcontent">
    @if (Model.Tasks.Where(x => !x.Completed).Count() > 0)
    {
        <h3>Open Tasks</h3>
        
        foreach (var task in Model.Tasks.Where(x => !x.Completed).ToList())
         {
            <p>
                @{ Html.RenderPartial(MVC.Company.Views._CompanyTaskDisplay, task); }
            </p>
         }
    }
</div>

<div class="right-subcontent">
    <h3>Test content</h3>
</div>

<div class="clear"></div>