@model MyJobLeads.DomainModel.Entities.Company

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    ViewBag.Title = "Add A Company";
    <h2>Add A Company</h2>
    <div class="ScreenHint">This screen allows you to add a company to your job search.</div>
}
else
{
    ViewBag.Title = "Editing " + @Model.Name;
    <h2>Editing @Model.Name</h2>
    <div class="ScreenHint">This screen allows you to edit the @Model.Name company.</div>
}
<br />

@using (Html.BeginForm(MVC.Company.Edit(Model.Id)))
{
    @Html.Hidden("jobSearchId", (int)ViewBag.JobSearchId)
    @Html.HiddenFor(x => x.Id)

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td align="right">Phone Number:</td>
            <td>@Html.EditorFor(x => x.Phone)</td>
        </tr>

        <tr>
            <td align="right">City:</td>
            <td>@Html.EditorFor(x => x.City)</td>
        </tr>

        <tr>
            <td align="right">State:</td>
            <td>@Html.EditorFor(x => x.State)</td>
        </tr>

        <tr>
            <td align="right">Zip:</td>
            <td>@Html.EditorFor(x => x.Zip)</td>
        </tr>

        <tr>
            <td align="right" valign="top">Notes:</td>
            <td>@Html.TextAreaFor(x => x.Notes, new { rows = 3, cols = 50 })</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}

