@model MyJobLeads.DomainModel.Entities.Company

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Company</h2>

@using (Html.BeginForm(MVC.Company.Edit(Model.Id)))
{
    @Html.Hidden("jobSearchId", (int)ViewBag.JobSearchId)
    @Html.HiddenFor(x => x.Id)

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td align="right">Phone Number:</td>
            <td>@Html.EditorFor(x => x.Phone)</td>
        </tr>

        <tr>
            <td align="right">City:</td>
            <td>@Html.EditorFor(x => x.City)</td>
        </tr>

        <tr>
            <td align="right">State:</td>
            <td>@Html.EditorFor(x => x.State)</td>
        </tr>

        <tr>
            <td align="right">Zip:</td>
            <td>@Html.EditorFor(x => x.Zip)</td>
        </tr>

        <tr>
            <td align="right" valign="top">Notes:</td>
            <td>@Html.TextAreaFor(x => x.Notes, new { rows = 3, cols = 50 })</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
}

