@model MyJobLeads.ViewModels.Companies.EditCompanyViewModel

<div class="grid1 floatLeft"> 
    <div class="lineSeperater"> 
        <div class="pageInfoBox"> 
            @using (Html.BeginForm(MVC.Company.Edit())) 
            {
                @Html.HiddenFor(x => x.JobSearchId)
                @Html.HiddenFor(x => x.Id)

                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                        <h3 class="floatLeft">Edit  Company</h3> 
                </div> 
                
                using (Html.OuterRow())
                {
                    using (Html.ValidationArea())
                    {
                        @Html.ValidationSummary()
                    }
                }

                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Name:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Name, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Phone:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Phone, new { @class = "info" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">City:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.City, new { @class = "info "})</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">State:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.State, new { @class = "info" })</div>
                    </div> 

                    <div class="floatLeft"><p class="greyHighlight">Zip:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Zip, new { @class = "smallerInput" })</div>
                    </div> 
                </div> 
                                
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Industry:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Industry, new { @class = "info "})</div>
                    </div>                             

                    <div class="floatLeft"><p class="greyHighlight">Website:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.Website, new { @class = "info" })</div>
                    </div>
                </div> 
                
                <div class="grid3 marginBottom_10 floatLeft">
                    <div class="floatLeft"><p class="greyHighlight">Status:</p>
                        <div class="infoSpan">@Html.DropDownListFor(x => x.LeadStatus, new SelectList(Model.AvailableLeadStatuses, Model.LeadStatus))</div>
                    </div>
                </div>
 
                <div class="grid3 marginBottom_10 floatLeft">
                    <div class="floatLeft"><p class="greyHighlight">Notes:</p>
                        <div class="infoSpan">@Html.TextAreaFor(x => x.Notes, new { @class = "textAreaInfo" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_20 floatLeft"> 
                    <div class="submitBTN ">
                        <input type="submit" value="Save" /> &nbsp;
                        @if (Model.Id != 0)
                        {
                            @Html.ActionLink("Cancel", MVC.Company.Details(Model.Id))
                        }

                        else
                        {
                            @Html.ActionLink("Cancel", MVC.Company.List())
                        }
                    </div>                    
                </div> 
            }

            <div class="clear"></div> 
        </div> 
    </div> 
</div> 